<!DOCTYPE html>
<html>
<head>
    <title>Vern</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/app_blog/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/app_blog/css/pace.css">
    <link rel="stylesheet" href="/static/app_blog/css/custom.css">

    <!-- js -->
    <script src="/static/app_blog/js/jquery-2.1.3.min.js"></script>
    <script src="/static/app_blog/js/bootstrap.min.js"></script>
    <script src="/static/app_blog/js/pace.min.js"></script>
    <script src="/static/app_blog/js/modernizr.custom.js"></script>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1 title="奥桑喜欢小鸟"><a href="/"><b>Awesome </b>like a Bird</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="/blog/" data-hover="Index">Index</a></li>
                            <li class="cl-effect-11"><a href="/about/" data-hover="About">About</a></li>
                            <!--<li class="cl-effect-11"><a href="/contact/" data-hover="联系">联系</a></li>-->
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
				<!--
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
                -->
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">
	<div class="container">
		<div class="row">
			<main class="col-md-12">
				<h1 class="page-title">About </h1>
				<article class="post">
					<div class="entry-content clearfix">
						<figure class="img-responsive-center">
							<img class="img-responsive" src="/static/app_blog/img/pic.jpg" alt="pic">
						</figure>
						<p>I remember the ocean, memories die out so hard. We were travelling the mountains, just to find the loudest seas.
							We settled down by the fire, knowing we could aim higher, but we didn't know that yet.
							So if you want sth. to hold on to gotta find it first. But here I am.</p>
						<p>'Cause I've been laying under palm trees, waiting for the summer, knowing there is nowhere to go.
							'Cause I am happy on this island, do you wanna be my funland? I don't ever want to leave.</p>
						<div class="height-40px"></div>
						<h2 class="title text-center">Contact to me</h2>
						<ul class="social">
							<li class="bilibili"><a href="https://space.bilibili.com/540032">Bilibili</a></li>
							<li class="github"><a href="https://github.com/Vern-gu">Github</a></li>
							<li class="gmail"><a href="mailto:verngu1110@gmail.com">Gmail</a></li>
							<!--
							<span class="ion-social-facebook"></span>
							<span class="ion-social-twitter"></span>
							<span class="ion-social-googleplus"></span>
							<span class="ion-social-tumblr"></span>
							<li class="tumblr"><a href="#"></a></li>
							-->
						</ul>
					</div>
				</article>
			</main>
		</div>
	</div>
</div>

<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2019 - Collected from <a href="http://www.cssmoban.com/"
                                                        target="_blank" title="模板之家">cssmoban.com</a>
                    - Modified by <a href="/about" title="超帅" target="_blank">Vern</a>
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
