{% load blog_tags %}

<html>
<head>
    <title>Vern</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/app_blog/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/app_blog/css/pace.css">
    <link rel="stylesheet" href="/static/app_blog/css/custom.css">

    <!-- js -->
    <script src="/static/app_blog/js/jquery-2.1.3.min.js"></script>
    <script src="/static/app_blog/js/bootstrap.min.js"></script>
    <script src="/static/app_blog/js/pace.min.js"></script>
    <script src="/static/app_blog/js/modernizr.custom.js"></script>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1 title="奥桑喜欢小鸟"><a href="/"><b>Awesome </b>like a Bird</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="/blog/" data-hover="Index">Index</a></li>
                            <li class="cl-effect-11"><a href="/about/" data-hover="About">About</a></li>
                            <!--<li class="cl-effect-11"><a href="/contact/" data-hover="联系">联系</a></li>-->
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="{% url 'blog:search' %}">
                            {% csrf_token %}
                            <input type="search" name='q' placeholder="Search Posts" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>


<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% block main %}
                {% endblock main %}
            </main>
            <aside class="col-md-4">
                {% block toc %}
                {% endblock toc %}
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    {% get_recent_article as recent_article_list %}
                    <ul>
                        {% for article in recent_article_list %}
                            <li>
                                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                            </li>
                        {% empty %}
                            <li>
                                <div class="no-article">暂时还没有发布文章！</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    {% archives as date_list %}
                    <ul>
                        {% for date in date_list %}
                        <li>
                            <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
                        </li>
                        {% empty %}
                        暂无归档！
                        {% endfor %}
                    </ul>
                </div>


                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">分类</h3>
                    {% get_category as category_list %}
                    <ul>
                        {% for tag in category_list %}
                            <li>
                                <a href="{% url 'blog:category' tag.pk %}">{{tag.name}}</a>
                            </li>
                        {%endfor%}
                    </ul>
                </div>
                <!--
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
                -->
            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2019 - Collected from <a href="http://www.cssmoban.com/"
                                                        target="_blank" title="模板之家">cssmoban.com</a>
                    - Modified by <a href="/about" title="超帅" target="_blank">Vern</a>
                    <br>
                    <a href="#">Back to TOP</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="/blog/">Index</a></li>
            <li><a href="/about/">About</a></li>
            <!--<li><a href="/contact/">联系</a></li>-->
        </ul>
    </nav>
</div>

<script src="/static/app_blog/js/script.js"></script>

</body>
</html>
